* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  border-collapse: collapse;
  border: 1px solid black;
  margin: 0 auto;
}

.square {
  border: 1px solid black;
}

.number-squares {
  position: absolute;
  height: 150px;
  width: 300px;
  top: 10%;
  left: 15%;
  background: none;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
}
